.DrivePage {
  display: flex;
  flex-direction: column;
  flex: 5;
  padding: 1rem;
  padding-top: 6rem;
  align-items: center;
  /* justify-content: center; */
}

.subheader {
  align-self: flex-start;
  width: 100%;
  padding-top: 0.5rem;
  margin-bottom: 0;
  display: flex;
  justify-content: space-evenly;
}

.subheader h3 {
  flex: 8;
}

.DrivePage h2 {
  margin-top: 2rem;
  align-self: start;
  color: #3D405B;
  font-size: large;
}

.DrivePage hr {
  width: 100%;
}



