.Upload {
  all: unset
}

.Upload {
  box-sizing: border-box;
  display: inline-block;
  width: 6rem;
  height: 2rem;
  line-height: 1.75rem;
  cursor: pointer;
  background-color:#F0BEB0;
  text-align: center;
  border: 1px solid black;
  border-radius: 3px;
  box-shadow: 1px;
  color: #3D405B;
  cursor: pointer;
}

.Upload label {
  cursor: pointer;
  font-size: small;
  margin:0.3rem
}

.Upload:focus,
.Upload:active{
  background-color: #F4F1DE;
  color: #3D405B;
}

input {
  display: none;
}