.background {
  /* background-size: cover; */
  /* background-image: url('https://cutewallpaper.org/21/cartoon-cloud-background/This-Cartoon-Clouds-Background-Png,-Hd-Wallpapers-.jpg'); */
  background-color: #F0BEB0;
  position: fixed;
  top: 2rem;
  left: 0;
  height: 100vh;
  width: 100vw;
}

.LoginForm{
  box-sizing: border-box;
  z-index: 1;
  width: 80%;
  height: 75vh;
  margin-top: 10rem;
  text-align: center;
  background-color: #FCFBF6;
  border: solid 1px #3D405B;
  border-radius: 20px;
}

.formControl {
  margin-top: 1rem;
  padding: 0.5rem;
  display: flex;
  width: 70%;
  justify-content: center;
  height: 2rem;
  line-height: 2rem;
}

.formControl input {
  flex: 2;
  display: inline-block;
}

.formControl label {
  flex: 1
}

.formControl button {
  width: 30%;
}

.registerText {
  margin-top: 3rem;
  text-align: center;
  padding: 1rem;
}

.registerText a {
  color: #7B7554
}

.message {
  display: inline-block;
  border: 1px solid grey;
  border-radius: 20px 20px 0 0;
  font-weight: 300;
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
}

.failure {
  color: #FEFDFB;
  background-color: #A93E20;
}

.success {
  color: #FEFDFB;
  background-color: rgb(28, 129, 19);
}
