.background {
  background-color: #F0BEB0;
  position: fixed;
  top: 2rem;
  left: 0;
  height: 100vh;
  width: 100vw;
}

.LoginForm{
  box-sizing: border-box;
  z-index: 1;
  width: 80%;
  max-width: 800px;
  height: 75vh;
  margin-top: 10rem;
  /* text-align: center; */
  background-color: #FCFBF6;
  border: solid 1px #3D405B;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1rem;
}

.googleLogin {
  text-align: center;
  width: 50%;
}


.formControl, .buttonControl {
  margin-top: 1rem;
  padding: 0.2rem;
  display: flex;
  justify-content: center;
  height: 2rem;
  line-height: 2rem;
}

.formControl label {
  flex: 1
}

.formControl input {
  box-sizing: border-box;
  flex: 3;
  display: inline-block;
}

.buttonControl {
  justify-content: flex-end;
  /* align-items: flex-end; */
}

.buttonControl button {
  height: 2rem;
  width: 36%;
  margin-right: 0.4rem;
}

.registerText {
  margin-top: 1rem;
  text-align: center;
  padding: 1rem;
}

.registerText a {
  color: #7B7554
}

.message {
  text-align: center;
  display: inline-block;
  border: 1px solid grey;
  border-radius: 20px 20px 0 0;
  font-weight: 300;
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
}

.failure {
  color: #FEFDFB;
  background-color: #A93E20;
}

.success {
  color: #FEFDFB;
  background-color: rgb(28, 129, 19);
}
